@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap');

h1 {
    color:black;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
}
#head-div{
    background-color: #e6e6e6;
    width: 100%;
    height: 80px;
    padding-top:0px;


}
h4 {
    color:black;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
}

h2 {
    color:black;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
}
body {
    margin: 0px;
}
#form-div{
    background-color: #fbfca2;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    border:1px solid black;

}

.training-img{
    display:block;
    margin:auto;
}
#list_prof_h2 {
    text-align:left;
    font-weight: bold;
    padding-left: 5%;
}
#list_prof_ol{
    padding-left: 5%;
}

#list_prof_ul{
    padding-left: 5%;
}

li{
    color:black;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;

}
h5 {
color:black;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
    padding-left: 20px;
}

#h2-login{
    color:black;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: left;

}

.div-login{
    padding-left: 10%;
    padding-top: 100px;
}

.div-distribution{
padding-top: 100px;
}
.sub-div-distribution{
    margin-left: 10%;

}
